header.header
    .header__column
        a(href=routes.home)
           i.fab.fa-youtube
    .header__column
    p routes.search = "/search" action = 이동할 페이지 이름 /login, /search, /home
        form(action=routes.search, method="get")
            input(type="text", placeholder="Search by term...", name="term")
    .header__column
        ul
            li
                a(href=routes.join, target="_blank") Join
            li
                a(href=routes.login) Log In
    
