.social-login
    button.social-login__github
        span
            i.fab.fa-github-alt
        |Continue with Github
    button
        span.social-login__facebook
            i.fab.fa-facebook-alt
        |Continue with Facebook