extends layouts/main.pug
include mixins/videoBlock.pug

block contents
    .search__header
        h3 Searching for: #{searchingBy}
    .search__videos
        each item in videos
            if videos.length === 0
                h5 No Videos Found
            +videoBlock({
                title : item.title,
                views : item.views,
                videoFile: item.fileUrl,
                id:item.id
             })
