extends layouts/main.pug

block contents
    p Upload
    .form-container
        form(action="/videos${routes.upload}", method="post")
            lable(for="file") Video File
            input(type="file", id="file", name="file")
            input(type="text", placeholder="Title", name="title")
            textarea(name="description", placeholder="description")
            input(type="submit", value="Upload Video")            